<div class="admin-dashboard-container">
    <h2>Admin Paneli</h2>
  
    <div class="dashboard-sections">
      <div class="section">
        <h3>Profil Bilgilerim</h3>
        <a routerLink="/profile" class="btn btn-primary">Profilimi Görüntüle</a>
      </div>
  
      <div class="section">
        <h3>Kullanıcı Yönetimi</h3>
        <a routerLink="/user-management" class="btn btn-primary">Yönet</a>
      </div>
  
      <div class="section">
        <h3>Randevu Yönetimi</h3>
        <a routerLink="/doctor-appointment-management" class="btn btn-primary">Doktor Randevuları</a>
        <a routerLink="/patient-appointment-management" class="btn btn-secondary">Hasta Randevuları</a>
      </div>
  
      <div class="section">
        <h3>Geri Bildirim Yönetimi</h3>
        <a routerLink="/feedback-management" class="btn btn-primary">Geri Bildirimleri Yönet</a>
      </div>
  
      <div class="section">
        <h3>Sistem Raporları</h3>
        <a routerLink="/system-report" class="btn btn-primary">Raporları Görüntüle</a>
      </div>
    </div>
  </div>
  